.root {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  max-width: 100%;
  min-width: 0;
  min-height: 0;
  padding: 8px;
}
.columns__h8EXk {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: wrap;
  min-width: 0;
  padding: 8px;
}
.columns__h8EXk > :nth-child(4n + 1) {
  width: calc((100% - 4 * 0px) * 3 / 12);
}
.columns__h8EXk > :nth-child(4n + 2) {
  width: calc((100% - 4 * 0px) * 3 / 12);
}
.columns__h8EXk > :nth-child(4n + 3) {
  width: calc((100% - 4 * 0px) * 3 / 12);
}
.columns__h8EXk > :nth-child(4n + 4) {
  width: calc((100% - 4 * 0px) * 3 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__h8EXk {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__h8EXk > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__wEsRa {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.slider__p3Itt:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  flex-direction: column;
  position: relative;
  min-width: 0;
}
.img__vgwDs {
  object-fit: cover;
  max-width: 100%;
}
.img__vgwDs > picture > img {
  object-fit: cover;
}
.img__vgwDs > .__wab_img-spacer > img {
  object-fit: cover;
}
.img___70OdL {
  object-fit: cover;
  max-width: 100%;
}
.img___70OdL > picture > img {
  object-fit: cover;
}
.img___70OdL > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__fv7Z2 {
  object-fit: cover;
  max-width: 100%;
}
.img__fv7Z2 > picture > img {
  object-fit: cover;
}
.img__fv7Z2 > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox__k5V0G {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.button__jfbRl:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg___0QfGe {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__rxY8U {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.column__dU4D {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.slider__zinI4:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  flex-direction: column;
  position: relative;
  min-width: 0;
}
.img__cJs53 {
  object-fit: cover;
  max-width: 100%;
}
.img__cJs53 > picture > img {
  object-fit: cover;
}
.img__cJs53 > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__vx1Y7 {
  object-fit: cover;
  max-width: 100%;
}
.img__vx1Y7 > picture > img {
  object-fit: cover;
}
.img__vx1Y7 > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__u3JAr {
  object-fit: cover;
  max-width: 100%;
}
.img__u3JAr > picture > img {
  object-fit: cover;
}
.img__u3JAr > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox__tLVks {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.button__mIRdB:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__ydOwv {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__j42Jo {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.column__xp86 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.slider__qKkMq:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  flex-direction: column;
  position: relative;
  min-width: 0;
}
.img__puDtz {
  object-fit: cover;
}
.img__puDtz > picture > img {
  object-fit: cover;
}
.img__puDtz > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__np9T6 {
  object-fit: cover;
  max-width: 100%;
}
.img__np9T6 > picture > img {
  object-fit: cover;
}
.img__np9T6 > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__iPywd {
  object-fit: cover;
  max-width: 100%;
}
.img__iPywd > picture > img {
  object-fit: cover;
}
.img__iPywd > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox___6WBjr {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.button__o5U1:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg___5DXMk {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__lw5ME {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.column__eRynX {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.slider__dzsir:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  flex-direction: column;
  position: relative;
  min-width: 0;
}
.img__d3BaG {
  object-fit: cover;
  max-width: 100%;
}
.img__d3BaG > picture > img {
  object-fit: cover;
}
.img__d3BaG > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__yePMg {
  object-fit: cover;
  max-width: 100%;
}
.img__yePMg > picture > img {
  object-fit: cover;
}
.img__yePMg > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__q6PRc {
  object-fit: cover;
  max-width: 100%;
}
.img__q6PRc > picture > img {
  object-fit: cover;
}
.img__q6PRc > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox__plmXc {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.button__svqQt:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__vggPu {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__bLyFb {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.column__atXp {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.slider___7Hugk:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  flex-direction: column;
  position: relative;
  min-width: 0;
}
.img__k0KqD {
  object-fit: cover;
  max-width: 100%;
}
.img__k0KqD > picture > img {
  object-fit: cover;
}
.img__k0KqD > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__zg6Ce {
  object-fit: cover;
  max-width: 100%;
}
.img__zg6Ce > picture > img {
  object-fit: cover;
}
.img__zg6Ce > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__rjVnp {
  object-fit: cover;
  max-width: 100%;
}
.img__rjVnp > picture > img {
  object-fit: cover;
}
.img__rjVnp > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox___3ZSMc {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.button__ssICh:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__uoHUb {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__ir8X {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.column__yIJ {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.slider__eswm:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  flex-direction: column;
  position: relative;
  min-width: 0;
}
.img__dEsva {
  object-fit: cover;
  max-width: 100%;
}
.img__dEsva > picture > img {
  object-fit: cover;
}
.img__dEsva > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__ynAyy {
  object-fit: cover;
  max-width: 100%;
}
.img__ynAyy > picture > img {
  object-fit: cover;
}
.img__ynAyy > .__wab_img-spacer > img {
  object-fit: cover;
}
.img___0Upug {
  object-fit: cover;
  max-width: 100%;
}
.img___0Upug > picture > img {
  object-fit: cover;
}
.img___0Upug > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox__ywpdi {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.button__s8D3K:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__oa4W0 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg___1Z3EP {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.column___1GSqP {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.slider__kcLRn:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  flex-direction: column;
  position: relative;
  min-width: 0;
}
.img__q3Y5S {
  object-fit: cover;
  max-width: 100%;
}
.img__q3Y5S > picture > img {
  object-fit: cover;
}
.img__q3Y5S > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__cbpoi {
  object-fit: cover;
  max-width: 100%;
}
.img__cbpoi > picture > img {
  object-fit: cover;
}
.img__cbpoi > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__x3ZSe {
  object-fit: cover;
  max-width: 100%;
}
.img__x3ZSe > picture > img {
  object-fit: cover;
}
.img__x3ZSe > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox__rCqft {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.button__lQ2R9:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__gfIp {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__oc7Rz {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.column___4Wriy {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.slider__bbA8Y:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  flex-direction: column;
  position: relative;
  min-width: 0;
}
.img___6LT8H {
  object-fit: cover;
  max-width: 100%;
}
.img___6LT8H > picture > img {
  object-fit: cover;
}
.img___6LT8H > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__cjXx2 {
  object-fit: cover;
  max-width: 100%;
}
.img__cjXx2 > picture > img {
  object-fit: cover;
}
.img__cjXx2 > .__wab_img-spacer > img {
  object-fit: cover;
}
.img___7Vd2 {
  object-fit: cover;
  max-width: 100%;
}
.img___7Vd2 > picture > img {
  object-fit: cover;
}
.img___7Vd2 > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox___8M5O {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.button__kzh5W:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__sFix6 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__roz1 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.column__pr6Ua {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.slider__tI4Dy:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  flex-direction: column;
  position: relative;
  min-width: 0;
}
.img___76Bpn {
  object-fit: cover;
  max-width: 100%;
}
.img___76Bpn > picture > img {
  object-fit: cover;
}
.img___76Bpn > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__x95JK {
  object-fit: cover;
  max-width: 100%;
}
.img__x95JK > picture > img {
  object-fit: cover;
}
.img__x95JK > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__mw7Pu {
  object-fit: cover;
  max-width: 100%;
}
.img__mw7Pu > picture > img {
  object-fit: cover;
}
.img__mw7Pu > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox__czFdb {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.button__mz1Ah:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__gu7PV {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__zRsmO {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.column__lwqvE {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.slider__jpiyS:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  flex-direction: column;
  position: relative;
  min-width: 0;
}
.img__mZ7Uz {
  object-fit: cover;
  max-width: 100%;
}
.img__mZ7Uz > picture > img {
  object-fit: cover;
}
.img__mZ7Uz > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__rXzk6 {
  object-fit: cover;
  max-width: 100%;
}
.img__rXzk6 > picture > img {
  object-fit: cover;
}
.img__rXzk6 > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__rvtnE {
  object-fit: cover;
  max-width: 100%;
}
.img__rvtnE > picture > img {
  object-fit: cover;
}
.img__rvtnE > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox__uCoxt {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.button__uqMis:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__j3KmU {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__xAk9P {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.column__zw27O {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.slider__q6WFg:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  flex-direction: column;
  position: relative;
  min-width: 0;
}
.img___8REzb {
  object-fit: cover;
  max-width: 100%;
}
.img___8REzb > picture > img {
  object-fit: cover;
}
.img___8REzb > .__wab_img-spacer > img {
  object-fit: cover;
}
.img___27QgN {
  object-fit: cover;
  max-width: 100%;
}
.img___27QgN > picture > img {
  object-fit: cover;
}
.img___27QgN > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__iUDw2 {
  object-fit: cover;
  max-width: 100%;
}
.img__iUDw2 > picture > img {
  object-fit: cover;
}
.img__iUDw2 > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__czB6 {
  object-fit: cover;
  max-width: 100%;
}
.img__czB6 > picture > img {
  object-fit: cover;
}
.img__czB6 > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__pnhm9 {
  object-fit: cover;
  max-width: 100%;
}
.img__pnhm9 > picture > img {
  object-fit: cover;
}
.img__pnhm9 > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__hFCy {
  object-fit: cover;
  max-width: 100%;
}
.img__hFCy > picture > img {
  object-fit: cover;
}
.img__hFCy > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox__hlHl {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.button__yYmRo:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__sxx3S {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__nf6V {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.column__d9FCf {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.slider__giNdG:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  flex-direction: column;
  position: relative;
  min-width: 0;
}
.img__dcm71 {
  object-fit: cover;
  max-width: 100%;
}
.img__dcm71 > picture > img {
  object-fit: cover;
}
.img__dcm71 > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__sN1Uj {
  object-fit: cover;
  max-width: 100%;
}
.img__sN1Uj > picture > img {
  object-fit: cover;
}
.img__sN1Uj > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__gRqDx {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__gRqDx > picture > img {
  object-fit: cover;
}
.img__gRqDx > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__h5NWw {
  object-fit: cover;
  max-width: 100%;
}
.img__h5NWw > picture > img {
  object-fit: cover;
}
.img__h5NWw > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox__jhqD0 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.button__tEbn4:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__u0Pv8 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__uq2X {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.column__da3Hb {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__z5VHq {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.iframe:global(.__wab_instance) {
  width: 300px;
  height: 150px;
  max-width: 100%;
  position: relative;
  flex-shrink: 0;
}
.htmlVideo:global(.__wab_instance) {
  width: 640px;
  height: hug;
  max-width: 100%;
  position: relative;
}
.column___5QOc {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__m1LP1 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.text___0B58 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.section {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  min-width: 0;
  padding: 64px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section {
    width: 100%;
    min-width: 0;
    padding: 128px 32px;
  }
}
.columns__srkut {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns__srkut > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns__srkut > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__srkut {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__srkut > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__lvxRl {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.column__iJKuQ {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.freeBox__jxeg7 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.foreground {
  flex-direction: column;
  display: flex;
  position: relative;
  background: #ffffff;
  padding: 64px;
}
.foreground > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.foreground > :global(.__wab_flex-container) > *,
.foreground > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.foreground > :global(.__wab_flex-container) > picture > img,
.foreground
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .foreground {
    padding: 0px;
  }
}
.freeBox___6EhZw {
  flex-direction: column;
  display: flex;
  height: auto;
}
.freeBox___6EhZw > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox___6EhZw > :global(.__wab_flex-container) > *,
.freeBox___6EhZw > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___6EhZw > :global(.__wab_flex-container) > picture > img,
.freeBox___6EhZw
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__o5Di3 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.h2 {
  font-size: 48px;
  font-weight: 800;
  color: #000000d9;
  line-height: 1;
  font-family: "Inter", sans-serif;
  font-style: normal;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.text__tWxvV {
  font-size: 20px;
  color: #05050599;
  text-align: left;
  line-height: 28px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.freeBox__v90HP {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  overflow: visible;
}
.freeBox__bTw9U {
  width: 642px;
  height: 400px;
  display: flex;
  position: absolute;
  flex-shrink: 0;
}
.freeBox___3ZmbK {
  background: url("https://lh3.googleusercontent.com/GIsXhaW5Ihgh3xzvnpU1Dj2UVTRWqHWHNVrl4CIBsdmGD5O-ZyIxAxLGbCypMtrplCn-C5a3Nk3Xox4CsfNsXBnPRgliHuxPS6jfg9CsZkkJMsrpy1u3pfniroHr1n5L7fc-UP7yfzEDSyQmQM8NAoNmYo4qZuphswEYp-xLkqo1mbXPIekQ8iOQYaOPJanIFTt1qVCdem4Hti-AbuqF1uFFXeyC8K4y6O4Hl7AqNDflzb3ebe1Cx5sIhbuIY-p3UBNHmYsdn1uHl1XVLQLO-Q-lFUyMPWTkbe0UilnGvSif4XoEJduIEgjW6imlyvdJvQBYIyL9kRRxx5ZQ7CaoeboQf7S_4__3VuGXYQ0R0XGIOzZel6cqmjuFWFI3FSkUPnWOP0CXm8J_rDnnXcAkPCJwfalub-XQ3s_DRX-vQAB3uXs8C5K9DS268aQg_OlaV6WzQETLLRLkPEhmh7vaOQ3UMIW9roQDWNJVeauf2nZ3enurKkVYuK0W3IMzcR8LNZ2cR93PQk60o4aQ6_jU529--3kwn8oAOxNb5J940JXXDEvQ1agtfPt4gZRYY8hssX9S32bWcQJXxBJKFPlFMZJLtyMueCyHz3z7VDaip7n_8Ia5DGt8m9EOL1MgTwWFjLYN9Ub_GceazOXLKNthiT7jCqC-ugUUcq5X87034ctD17q-nVOaYsotATOMugaiHC8J7n8Um_KEQ_WMJ6FTSIyplmT64Y4TxzuINRFYaO-mzNwL2Ra5BKt6vAJ5VKrrslytcx3kpkNrhon3Jw=s718-no?authuser=0")
      left 50% top 50% / cover,
    #00ff00;
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  min-width: 0;
  min-height: 0;
}
.img__bn5Pp {
  width: 865px;
  position: relative;
}
.column__mxfN {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.freeBox__nmRwn {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.column__xSwNv {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__zXxLp {
  object-fit: cover;
  max-width: 100%;
}
.img__zXxLp > picture > img {
  object-fit: cover;
}
.img__zXxLp > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__akVfs {
  object-fit: cover;
  max-width: 100%;
}
.img__akVfs > picture > img {
  object-fit: cover;
}
.img__akVfs > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__tA82 {
  object-fit: cover;
  max-width: 100%;
}
.img__tA82 > picture > img {
  object-fit: cover;
}
.img__tA82 > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__upZhe {
  object-fit: cover;
  max-width: 100%;
}
.img__upZhe > picture > img {
  object-fit: cover;
}
.img__upZhe > .__wab_img-spacer > img {
  object-fit: cover;
}
.img___5Kjlt {
  object-fit: cover;
  max-width: 100%;
}
.img___5Kjlt > picture > img {
  object-fit: cover;
}
.img___5Kjlt > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__mw1P {
  object-fit: cover;
  max-width: 100%;
}
.img__mw1P > picture > img {
  object-fit: cover;
}
.img__mw1P > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__ezbmh {
  object-fit: cover;
  max-width: 100%;
}
.img__ezbmh > picture > img {
  object-fit: cover;
}
.img__ezbmh > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__ribfK {
  object-fit: cover;
  max-width: 100%;
}
.img__ribfK > picture > img {
  object-fit: cover;
}
.img__ribfK > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__eCacs {
  object-fit: cover;
  max-width: 100%;
}
.img__eCacs > picture > img {
  object-fit: cover;
}
.img__eCacs > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__xthgE {
  object-fit: cover;
  max-width: 100%;
}
.img__xthgE > picture > img {
  object-fit: cover;
}
.img__xthgE > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__xXfzw {
  object-fit: cover;
  max-width: 100%;
}
.img__xXfzw > picture > img {
  object-fit: cover;
}
.img__xXfzw > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__xV2A {
  object-fit: cover;
  max-width: 100%;
}
.img__xV2A > picture > img {
  object-fit: cover;
}
.img__xV2A > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__mcGh {
  object-fit: cover;
  max-width: 100%;
}
.img__mcGh > picture > img {
  object-fit: cover;
}
.img__mcGh > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__ukQ {
  object-fit: cover;
  max-width: 100%;
}
.img__ukQ > picture > img {
  object-fit: cover;
}
.img__ukQ > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__ybEc {
  object-fit: cover;
  max-width: 100%;
}
.img__ybEc > picture > img {
  object-fit: cover;
}
.img__ybEc > .__wab_img-spacer > img {
  object-fit: cover;
}
.h1 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: none;
  margin-bottom: 32px;
  left: auto;
  top: auto;
  min-width: 0;
}
.img__zlXm {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__zlXm > picture > img {
  object-fit: cover;
}
.img__zlXm > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox__hEnoq {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: rgba(68, 192, 255, 0.2);
  min-width: 0;
  padding: 8px;
}
